header {
  background-color: $negro;
  height: 4em;
  border-radius: 0 0 50px 0;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 5;

  .logonav {
    position: absolute;
    left: 6em;
    @media (max-width: 768px) {
      left: -2px;
      z-index: 3;
      max-width: 135px;
    }
  }
  
  .menu__open {
    display: none;
    @media (max-width: 768px) {
      display: flex;
      position: absolute;
      left: 86%;
      top: 23px;
    }
  }
  .menu__close {
    width: 20px;
    display: none;
    position: absolute;
    left: 87%;
    top: 24px;
  }

  nav {
    display: flex;

    ul {
      list-style: none;
      display: flex;
      align-items: center;
      margin-left: auto;
      margin-right: 4%;
      position: relative;
      top: 1.6em;
      @media (max-width: 1024px) {
        background-color: $negro;
        padding: 35px 40px 0px 40px;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        top: 4em;
        left: 0;
        margin: 0;
        border-radius: 0 0 50px 0;
        display: none;
      }

      li {
        margin: 0 50px;
        @media (max-width: 1024px) {
          margin: 40px 0;
        }
        a {
          color: $amarillo;
          font-weight: 600;
          border-top: 4px solid $negro;
          padding-top: 5px;
          transition: .6s;
          &:hover {
            border-top: 4px solid $amarillo;
          }
        }
      }
    }
  }
}